html, body {
	font: 16px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

body {
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
	display: flex;
	flex: 1;
	min-height: 80vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	min-height: 600px;
}

.form__area__text {
	min-height: 300px;
	padding: 1.5rem;
	margin: 1rem;
	resize: none;
	border: 0;
}

.form__area__label {
	font-size: 1.5rem;
	margin-left: 1rem;
}

.form__area__text:focus {
	outline: none;
}

.form__area__button {
	padding: 15px;
	width: 150px;
	align-self: center;
	background-color: brown;
	border: 0;
	color: white;
	transition: background-color ease-in-out 200ms;
}

.form__area__button:hover {
	transition: background-color ease-in-out 200ms;
	background-color: darkblue;
	cursor: pointer;
}

h1 {
	text-align: center;
	font-size: 3rem;
}
